<!doctype html>
<html>
<head>
    <script src="https://t.jitsu.com/s/lib.js"
            data-key="{{ jitsu_key }}"
            data-init-only="false"
            defer></script>
    <script>window.jitsu = window.jitsu || (function(){(window.jitsuQ = window.jitsuQ || []).push(arguments);})</script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function search_horse_callback(selection) {
            jitsu('track', 'search_horse', {'params': { 'horse_id': selection }});
            $.getJSON({
                url: "/search_horse", data: { 'horse_id': selection }, success: function (result) {
                    Plotly.newPlot('summary_table', result, {staticPlot: true});
                }
            });
        }
    </script>
    <script>
        function show_start_gates_callback() {
            var horse_id = document.getElementById("horse_id_field").value;
            jitsu('track', 'show_start_gates', {'params': { 'horse_id': horse_id }});
            $.getJSON({
                url: "/show_start_gates", data: { 'horse_id': horse_id }, success: function (result) {
                    Plotly.newPlot('selected_vis', result, {staticPlot: true});;
                }
            });
        }
    </script>
    <script>
        function show_places_callback() {
            var horse_id = document.getElementById("horse_id_field").value;
            jitsu('track', 'show_places', {'params': { 'horse_id': horse_id }});
            $.getJSON({
                url: "/show_places", data: { 'horse_id': horse_id }, success: function (result) {
                    Plotly.newPlot('selected_vis', result, {staticPlot: true});;
                }
            });
        }
    </script>
    <script>
        function show_class_callback() {
            var horse_id = document.getElementById("horse_id_field").value;
            jitsu('track', 'show_classes', {'params': { 'horse_id': horse_id }});
            $.getJSON({
                url: "/show_classes", data: { 'horse_id': horse_id }, success: function (result) {
                    Plotly.newPlot('selected_vis', result, {staticPlot: true});;
                }
            });
        }
    </script>
    <script>
        function show_distances_callback() {
            var horse_id = document.getElementById("horse_id_field").value;
            jitsu('track', 'show_distances', {'params': { 'horse_id': horse_id }});
            $.getJSON({
                url: "/show_distances", data: { 'horse_id': horse_id }, success: function (result) {
                    Plotly.newPlot('selected_vis', result, {staticPlot: true});;
                }
            });
        }
    </script>
    <script>
        function show_earnings_callback() {
            var horse_id = document.getElementById("horse_id_field").value;
            jitsu('track', 'show_earnings', {'params': { 'horse_id': horse_id }});
            $.getJSON({
                url: "/show_earnings", data: { 'horse_id': horse_id }, success: function (result) {
                    Plotly.newPlot('selected_vis', result, {staticPlot: true});;
                }
            });
        }
    </script>
<title>Horses</title>
</head>

<body style="font-family:arial, sans-serif">
    <h1>Horse analytics</h1>
    <h2>Choose your horse</h2>
    <p>To select a horse, type in the horse ID</p>
    <body>A horse ID is any number between 0 and 358847. The best horses are 91403 and 33018.</body>
    <br>
    <input type="number" id="horse_id_field" name="horse_id_field" onchange="search_horse_callback(this.value)", value=91403>
    <body>
    <div id="summary_table" class="chart"></div>
    <script>
        d = {{ summary_table | safe }};
        Plotly.newPlot('summary_table', d, {});
    </script>

    <button type="button" onclick="show_start_gates_callback()">Show start gate data</button>
    <button type="button" onclick="show_places_callback()">Show places data</button>

    <button type="button" onclick="show_class_callback()">Show race class data</button>
    <button type="button" onclick="show_distances_callback()">Show race distance data</button>
    <button type="button" onclick="show_earnings_callback()">Show earnings data</button>
    <div id="selected_vis" class="chart"></div>

    <script>
        sha = {{ selected_horse_vis | safe }};
        Plotly.newPlot('selected_vis', sha, {});
    </script>
</body>
</html>