<!doctype html>
<html>
    <head>
        <title>Implementation</title>
    </head>
    <body style="font-family:arial, sans-serif">
        <blockquote class="imgur-embed-pub" lang="en" data-id="a/oIih4N1" data-context="false" >
            <a href="//imgur.com/a/oIih4N1">post</a>
        </blockquote>
        <script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>

        <h2><a href="https://github.com/peterphot/usrwtch_dbt">dbt Repo</a></h2>
        <h2><a href="https://github.com/peterphot/userwatch_takehome">Task Repo</a></h2>


    </body>
</html>