<!doctype html>
<html>
<head>
    <script src="https://t.jitsu.com/s/lib.js"
            data-key="{{ jitsu_key }}"
            data-init-only="false"
            defer></script>
    <script>window.jitsu = window.jitsu || (function(){(window.jitsuQ = window.jitsuQ || []).push(arguments);})</script>
<title>Home</title>
</head>
<body style="font-family:arial, sans-serif">
<h1 style="background:lightblue;padding:10px">
    Peter's Zed Run Analytics
</h1>

<h1>What do you want to deep dive?</h1>

<h2><a href="horses">Show me horse data</a></h2>
<h2><a href="races">Show me race data</a></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<h2><a href="user_matching">Secret button do not click</a></h2>

</body>
</html>